<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaulHref="/inicio" text="ATRAS" color="light" mode="ios"></ion-back-button>
    </ion-button>
    <ion-title>tarjeta</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Como Jugar en PC</ion-card-subtitle>
      <ion-card-title>Tutorial Basico</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Cómo jugar a Free Fire gratis en PC y Mac
      Descarga el emulador oficial BlueStacks.
      Completa el inicio de sesión de Google para acceder a Play Store o App Store.
      Busca “Garena Free Fire” en la barra de búsqueda situada en la esquina superior derecha.
      Haz clic para instalar el juego desde los resultados de la búsqueda.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
